body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    background-image:url(../Content/img/background-clearing.jpg);
    background-repeat:no-repeat;
    height:100%;
}
.main {
    height:100vh;
}

.mines {
    margin-left:300px;
    margin-top:200px;
}

.mines {
    font-size:x-large;
}

td {
    background-color: lightgreen;
}

.mine-detail{
    margin:10px;
    padding:50px;
    background-color:white;
    border-color:green;
    border-width:1px;
    border-style: solid;
    border-radius:25px;
}