body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    background-image:url(../Content/img/background-clearing.jpg);
    background-repeat:no-repeat;
    height:100%;
}
.main {
    height:100vh;
}

.mines {
    margin-left:300px;
    margin-top:200px;
}

.mines {
    font-size:x-large;
}

td {
    background-color: lightgreen;
}

.mine-detail{
    margin:10px;
    padding:50px;
    background-color:white;
    border-color:green;
    border-width:1px;
    border-style: solid;
    border-radius:25px;
}

#town-img {
    position: absolute;
    top: 205px;
    left: 585px;
}

.mine-wrapper {
    position: absolute;
    top: 205px;
    left: 585px;
}

.mine-level {
    position: absolute;
    top: 100px;
    left: 100px;
    background: green;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all .2s linear;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.mine-level:hover {
    transform: scale(1.5);
    text-decoration: none;
}

.mine-clay-1 {
    background: #FBC273;
    border: solid 2px;
    border-color: #A3714C;
    top: 71px;
    left: 245px;
}

.mine-clay-2 {
    background: #FBC273;
    border: solid 2px;
    border-color: #A3714C;
    top: 220px;
    left: 333px;
}

.mine-clay-3 {
    background: #FBC273;
    border: solid 2px;
    border-color: #A3714C;
    top: 235px;
    left: 149px;
}
 
.mine-wood-1 {
    background: #A7DE8D;
    border: solid 2px;
    border-color: #578E3A;
    top: 217px;
    left: 244px;
}

.mine-wood-2 {
    background: #A7DE8D;
    border: solid 2px;
    border-color: #578E3A;
    top: 18px;
    left: 147px;
}

.mine-wood-3 {
    background: #A7DE8D;
    border: solid 2px;
    border-color: #578E3A;
    top: 32px;
    left: 329px;
}

.mine-wheat-1 {
    background: #FAE47E;
    border: solid 2px;
    border-color: #C4B25A;
    top: 118px;
    left: 58px;
}

.mine-wheat-2 {
    background: #FAE47E;
    border: solid 2px;
    border-color: #C4B25A;
    top: 158px;
    left: 373px;
}

.mine-wheat-3 {
    background: #FAE47E;
    border: solid 2px;
    border-color: #C4B25A;
    top: 25px;
    left: 242px;
}
.mine-wheat-4 {
    background: #FAE47E;
    border: solid 2px;
    border-color: #C4B25A;
    top: 165px;
    left: 130px;
}
.mine-wheat-5 {
    background: #FAE47E;
    border: solid 2px;
    border-color: #C4B25A;
    top: 118px;
    left: 125px;
}
.mine-wheat-6 {
    background: #FAE47E;
    border: solid 2px;
    border-color: #C4B25A;
    top: 166px;
    left: 57px;
}
.mine-iron-1 {
    background: #CAE9E1;
    border: solid 2px;
    border-color: #80A68D;
    top: 59px;
    left: 110px;
}

.mine-iron-2 {
    background: #CAE9E1;
    border: solid 2px;
    border-color: #80A68D;
    top: 91px;
    left: 370px;
}

@keyframes upgrading {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

.upgrading{
    animation : upgrading 0.5s infinite;
}

#mine-details-container{
    position : absolute;
    top: 100px;
    left: 50%;
    width: 800px;
    margin-left : -400px;
    display : none;
    min-height : 300px;
    
}

#mine-details-container.show{
    display: block;
}

#mine-details-container .close-btn{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#buildings-container {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    display: none;
    min-height: 300px;
}

#buildings-container.show {
        display: block;
    }

#buildings-container .close-btn {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

.building-wrapper {
    position: absolute;
    top: 205px;
    left: 1005px;
}

.building-level {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all .2s linear;
    vertical-align: middle;
    text-decoration: none;
}

#build.building-level:hover {
    transform: scale(1.5);
    text-decoration: none;
}

#build.building-level {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.building0 {
    top: 37px;
    left: -96px;
}

.building1 {
    top: 307px;
    left: 45px;
}

.building2 {
    top: 201px;
    left: -148px;
}

.building3 {
    top: 92px;
    left: -161px;
}

.building4 {
    top: 196px;
    left: 286px;
}

.building5 {
    top: -23px;
    left: 101px;
}

.building6 {
    top: 105px;
    left: 300px;
}

.building7 {
    top: 106px;
    left: -25px;
}

.building8 {
    top: -2px;
    left: 3px;
}

.building9 {
    top: 63px;
    left: 57px;
}


#upgrade-container {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    display: none;
    min-height: 300px;
}

#upgrade-container.show {
    display: block;
}

#upgrade-container .close-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}