@model WebApplication1.Models.MessageViewModel
@{
    ViewBag.Title = "Upgrade";
}

<div style="border : solid black 2px; margin: 25px; padding : 5px; height: 80px; background-color: rgb(232, 231, 204); border-radius:15px; text-align: center">
    <h2>@this.Model.Message</h2>
</div>
