@model WebApplication1.Controllers.BuildViewModel
@{
    ViewBag.Title = "Build";
}
<body style ="background-image:url(../Content/img/city.jpg);">
<h2>Build</h2>

@using (Html.BeginForm("Build", "Building"))
{
    @Html.HiddenFor(m => m.BuildingId);
    @Html.ListBoxFor(m => m.SelectedBuildingType, this.Model.BuildingTypes)
    <button type="submit">Build</button>
}
    
</body>


