@model WebApplication1.Models.City
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>Type</th>
        <th>Level</th>
        <th>Action</th>
    </tr>
    @foreach(var building in Model.Buildings)
    {
        <tr>
            <td>@building.BuildingType</td>
            <td>@building.Level</td>
            <td>@Html.ActionLink("Build", "Build", new { buildingId = building.BuildingId })</td>
        </tr>
    }

</table>
